<div class="container mt-3" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h1>Thank You!</h1>
  <p>Booking confirmation for <%= @booking.dog.name %> from <strong><%= @booking.start_on %></strong> until <strong><%= @booking.end_on %></strong></p>
</div>
