<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static0.thethingsimages.com/wordpress/wp-content/uploads/2018/08/Man-Giving-His-Dog-A-High-Five.jpg);">
  <div class="container">
    <h1> Share-a-dog </h1>
    <p>share your day, share your love, share your dog</p>
    <p>we're here to help you find the perfect companion for a day</p>
    <%# <a class="btn btn-gradient" href="#">Register</a> %>
    <%= link_to "Find your new best friend!", dogs_path, class: "btn btn-primary" %>
    <%= link_to "add a dog", new_dog_path, class: "btn btn-secondary" %>
  </div>
</div>
